@import 'variables';
.user-offcanvas {

    .nav-tabs {
        display: flex !important;
        background: transparent;
        flex-direction: row !important;
        border: none;
        margin: 0;
    }

    .nav-item {
        flex: none;
    }

    .nav-link {
        padding: 0.75rem 1rem !important;
        font-size: 1.1rem;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: black;
        background-color: $primary;
        border: none;
    }

    .form-label,
    .form-check-label {
        color: rgba(255, 255, 255, 0.55) !important;
        transition: color 0.2s ease;
        cursor: pointer;
    }

    .form-check-input {
        accent-color: rgba(255, 255, 255, 0.55);
    }

    .form-check-input:checked {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    .form-check-input:focus,
    .form-check-input:active {
        outline: none !important;
        box-shadow: none !important;
    }
}
