# Dotnet / ASP.NET
bin/
obj/
*.user
*.suo
*.vsp
*.pdb

# Logs
*.log

# React / Node
reactapp.client/node_modules/
reactapp.client/build/
reactapp.client/dist/

# systemowe
.DS_Store
Thumbs.db

# inne
.vscode/
*.swp
